# Django Configuration
SECRET_KEY=django-insecure-cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# Para Docker usa: DB_HOST=db
# Para PostgreSQL local usa: DB_HOST=localhost
DB_NAME=ieee_tecsup_db
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=5432
