# Environment and Virtual Environment
.env
.env.*
venv/
env/
ENV/
.venv/

# Python garbage files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django migrations
# (El usuario solicitó no subir las migraciones)
**/migrations/*
!**/migrations/__init__.py

# Media and Static
media/
staticfiles/

# Logs
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db